.app-wrapper {
    width: 100%;
    height: auto;
    .app-header {
        padding: 0.2em 1em;
        background: #563d7c;
        color: #fff;
        h3 {
            font-size: 1.5rem;
            i {
                margin-right: .4em;
            }
        }
    }
}

.body-section {
    margin-top: 0.5em;
}