<div class="flight-list-container">
    <div class="result-cont" *ngIf="!showError">
        <div class="panel-name border p-2">
            <div class="row">
                <div class="col-8 tour-loc lead">
                    <span>{{searchCriteria?.originCity | titlecase }}</span>
                    <span>></span>
                    <span>{{searchCriteria?.destinationCity | titlecase }}</span>
                    <span *ngIf="!isOneWay">
                        <span>></span>
                        <span>{{searchCriteria?.originCity | titlecase }}</span>
                    </span>
                </div>
                <div class="col-4">
                    <div><span>Depart: </span><span>{{searchCriteria?.departurenDate}}</span></div>
                    <div *ngIf="!isOneWay"><span>Return: </span><span>{{searchCriteria?.returnDate}}</span></div>
                </div>
            </div>
        </div>
        <div class="flight-list">
            <div class="flight-card card my-2" *ngFor="let flight of flightResult">
                <div class="card-body">
                    <div class="row">
                        <div class="left-cont col-xs-12 col-md-8">
                            <h3 class="card-title">Rs. {{flight.price}}</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="flight-name">{{flight.flightName}}</div>
                                    <div class="flight-detail lead">
                                        <span>{{flight.from | titlecase }}</span>
                                        <span>></span>
                                        <span>{{flight.to | titlecase }}</span>
                                    </div>
                                    <div class="flight-detail">
                                        <span>Depart: </span>
                                        <span>{{flight.departure | time}}</span>
                                    </div>
                                    <div class="flight-detail">
                                        <span>Arive: </span>
                                        <span>{{flight.arrival | time}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-cont col-xs-12 col-md-4">
                            <img class="card-img-top d-none d-sm-block" src="../../assets/img/no-img.jpg"
                                alt="Card image cap">
                            <button class="btn btn-primary btn-block" (click)="bookTicket()">Book this flight</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showError" class="error-msg mt-5">
        <div class="alert alert-info text-center" role="alert">
            Please search the filght
        </div>
    </div>
</div>