<div class="flight-list-container">
    <div class="panel-name row">
        <div class="col-8 tour-loc">
            <span>city</span>
            <span>></span>
            <span>city</span>
            <span>></span>
            <span>city</span>
        </div>
        <div class="col-4">
            <div><span>Depart</span><span>Depart</span></div>
            <div><span>Return</span><span>Depart</span></div>
        </div>
    </div>
    <div class="flight-list">

        <div class="flight-card card">
            <div class="card-body">
                <div class="row">
                    <div class="left-cont col-xs-12 col-md-8">
                        <h3 class="card-title">Rs. 90000</h3>
                        <div class="row">
                            <div class="col-6">
                                <div class="flight-name">A 102</div>
                                <div class="flight-detail">
                                    <span>pune</span>
                                    <span>></span>
                                    <span>pune</span>
                                </div>
                                <div class="flight-detail">
                                    <span>Depart</span>
                                    <span>Depart</span>
                                </div>
                                <div class="flight-detail">
                                    <span>Depart</span>
                                    <span>Depart</span>
                                </div>
                            </div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                    <div class="right-cont col-xs-12 col-md-4">
                        <img class="card-img-top" src="../../assets/img/no-img.jpg" alt="Card image cap">
                        <button class="btn btn-primary btn-block">Book this flight</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>