<div class="flight-list-container">
    <div class="result-cont" *ngIf="!showError">
        <div class="panel-name border p-2">
            <div class="row">
                <div class="col-8 tour-loc">
                    <span>{{searchCriteria?.originCity}}</span>
                    <span>></span>
                    <span>{{searchCriteria?.destinationCity}}</span>
                    <span *ngIf="!isOneWay">
                        <span>></span>
                        <span>{{searchCriteria?.originCity}}</span>
                    </span>
                </div>
                <div class="col-4">
                    <div><span>Depart: </span><span>{{searchCriteria?.departurenDate}}</span></div>
                    <div *ngIf="!isOneWay"><span>Return: </span><span>{{searchCriteria?.returnDate}}</span></div>
                </div>
            </div>
        </div>
        <div class="flight-list">
            <div class="flight-card card" *ngFor="let flight of ">
                <div class="card-body">
                    <div class="row">
                        <div class="left-cont col-xs-12 col-md-8">
                            <h3 class="card-title">Rs. {{searchCriteria?.priceRange}}</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="flight-name">A 102</div>
                                    <div class="flight-detail">
                                        <span>pune</span>
                                        <span>></span>
                                        <span>pune</span>
                                    </div>
                                    <div class="flight-detail">
                                        <span>Depart</span>
                                        <span>Depart</span>
                                    </div>
                                    <div class="flight-detail">
                                        <span>Depart</span>
                                        <span>Depart</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-cont col-xs-12 col-md-4">
                            <img class="card-img-top" src="../../assets/img/no-img.jpg"
                                alt="Card image cap">
                            <button class="btn btn-primary btn-block">Book this flight</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showError" class="error-msg mt-5">
        <div class="alert alert-info text-center" role="alert">
            Please search the filght
        </div>
    </div>
</div>